body,
html {
  overflow-x: hidden;
  //background-color: #2A8C7A;
  background-color: #3d4768;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

body {
  max-width: 1024px;
}
